.col-lg-3.col-md-3.col-sm-12.col-xs-12
  .panel.panel-default
    .panel-body
      .panel.panel-default.assignment
        .panel-heading
          %h4.panel-title
            %a{href: "/admin/?page=gm"}
              Group Management
      .panel.panel-default.assignment
        .panel-heading
          %h4.panel-title
            %a{href: "/admin/?page=am"}
              Assignment Management
      .panel.panel-defaut.assignment
        .panel-heading
          %h4.panel-title
            %a{href: "/admin/?page=pm"}
              Project Management