.col-lg-3.col-md-3.col-sm-12.col-xs-12
  #left-navigation.panel.panel-default
    .panel-body
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %a.btn{href: "/admin/?page=gm", :class => (@cur_page == 'gm' ? "btn-info" : "btn-primary")}
            Group Management
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %a.btn{href: "/admin/?page=am", :class => (@cur_page == 'am' ? "btn-info" : "btn-primary")}
            Assignment Management
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %a.btn{href: "/admin/?page=pm", :class => (@cur_page == 'pm' ? "btn-info" : "btn-primary")}
            Project Management
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %a.btn{href: "#{match_path}", :class => (@cur_page == '#' ? "btn-info" : "btn-primary"), :id=>"Match Groups"}
            Match Groups
