.col-lg-9.col-md-9.col-sm-12.col-xs-12
  #accordion.panel-group
    .panel.panel-default.assignment
      .panel-heading
        %h4#iteration.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#assignment-5"}
            Iteration 1
          %span.pull-right.badge
            Not yet assigned
      #assignment-5.panel-collapse.collapse
        .card
          %h4 Description
          .panel-body
            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,
          %h4 Submissions
          .panel-body
            %div
              %span Submitted file:
              %a{href: "#"} Group1.zip
              %span#time 11:59 PM   11/17/2013
              %br/
              %span Website link:
              %a{href: "http://spillio.herokuapp.com"} spillio.herokuapp.com
              %span#time 11:59 PM   11/17/2013
              %hr/
            .row
              .col-lg-6{style: "float:right"}
                .input-group
                  %input.form-control{type: "text"}/
                  %span.input-group-addon /20
                  %span.input-group-btn
                    %button.btn.btn-default{type: "button"} Submit grade
                / /input-group
              / /.col-lg-6
    %br/
    .panel.panel-default.assignment
      .panel-heading
        %h4#iteration.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#assignment-6"}
            Iteration 2
          %span.pull-right.badge
            Not yet assigned
      #assignment-6.panel-collapse.collapse
        .card
          %h4 Description
          .panel-body
            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,
          %h4 Submissions
          .panel-body
            %div
              %span Submitted file:
              %a{href: "#"} n/a
              %br/
              %span Website link:
              %a{href: "#"} n/a
              %hr/
            .row
              .col-lg-6{style: "float:right"}
                .input-group
                  %input.form-control{type: "text"}/
                  %span.input-group-addon /20
                  %span.input-group-btn
                    %button.btn.btn-default{type: "button"} Submit grade
                / /input-group
              / /.col-lg-6
/ / Assignment dahsboard panel
