- content_for :title do
  = "Dashboard"

- content_for :styles do
  = stylesheet_link_tag 'group_show'

/ Navbar
= render "navbar"

/ Page body
.container
  .container
    .row
      %h3= "Admin Console"
      %hr/
    / Left panel
    =render "left_panel"
    / / main Panel

    =render @partial


