

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron {
	background-color: #99CCFF;
}



body {
	background: url(../images/landing-background.jpg) no-repeat center bottom #241c23;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	top: 0;
	z-index: -2;
	text-align: left;
	min-height: 720px;
}






