%li.dropdown
  %a.dropdown-toggle{"data-toggle" => (group_requests.size > 0) ? "dropdown" : "", href: "#"}
    Group requests
    %span.badge #{group_requests.size > 0 ? group_requests.size : ""}
    %b.caret{:class => (group_requests.size == 0) ? "hide" : "" }
  %ul.dropdown-menu
    - group_requests.each do |gr|
      %li
        =link_to "Accept #{gr.requester.name} #{gr.request_type} request","#{accept_group_join_path(gr.id)}"