/ Fixed navbar
.navbar.navbar-default.navbar-fixed-top
  .container
    %a.navbar-brand{href: "#"} Spillio
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %li
            =link_to "Logout","#{logout_path}"
    / /.nav-collapse
/ / Fixed navbar