- content_for :styles do
  = stylesheet_link_tag 'shared_navbar'

/ Navbar. In the future we can include instructor navbars here too
- if not @authenticated_user.nil? and @authenticated_user.class == User
  = render "students/loggedin_student_navbar"
- elsif @authenticated_user.class == Admin
  = render "admins/navbar"