- content_for :title do
  = "Home"
- content_for :styles do
  = stylesheet_link_tag 'home_index' # dont include extension

- content_for :scripts do
  = javascript_include_tag 'home_index' #dont include extension

%div
  .container
    .row
      #main-title
        %h1 spillio
    .row
      #dict
        %p.dict-header
          %strong spillio
          \/spɪl·ɪəʊ/, n.
        %p.dict-content
          Platform that makes class management easy for instructors.
    .row
      %p.login-btn-container
        %a.btn.btn-primary.btn-lg{:href =>@login_link} Log in
