- content_for :title do
  = "Home"
- content_for :styles do
  %link{href: "http://fonts.googleapis.com/css?family=ABeeZee&subset=latin", rel: "stylesheet", type: "text/css"}/
  = stylesheet_link_tag 'login_index' # dont include extension

- content_for :scripts do
  = javascript_include_tag 'login_index' #dont include extension

.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} Spillio
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "#"} Home
        %li
          = link_to 'Search', student_search
        %li
          %a{href: "#"} Profile
      %ul.navbar.navbar-right
        %li
          %button#manage-class-btn.btn.btn-sm.btn-warning.pull-right{type: "button"} Manage ddclass
%div
  .container
    .row
      #main-title
        %h1 spillio
    .row
      #dict
        %p.dict-header
          %strong spillio
          \/spɪl·ɪəʊ/, n.
        %p.dict-content
          Platform that makes class management easy for instructors.
    .row
      %p.login-btn-container
        %a{:class = 'btn.btn-primary.btn-lg' :href ='/signin'} Log in