#manage-class-btn {
  margin-top: 10px;
}

.navbar a {
  color: #E0E0E0;
  text-shadow: 1px 1px 1px rgba(104, 104, 104, 0.48);
}

body {
	background: url('landing-background.jpg') no-repeat center bottom #241c23;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	top: 0;
	z-index: -2;
	text-align: left;
	min-height: 720px;
	padding-top: 50px;
  padding-bottom: 20px;
}

#main-title {
  background: url('landing-paperscrap.png');
  width: 350px;
  margin: 80px auto;
  text-align: center;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
}

#main-title h1 {
  font-family: 'ABeeZee' sans-serif;
  font-size: 86px;
  text-align: center;
  position: relative;
  top: 30px;
  color: #4D4D4D;
  text-shadow: 1px 1px 1px rgba(104, 104, 104, 0.48);
}

#dict {
  width: 500px;
  margin: 60px auto;
}

.dict-header, .dict-content {
  font-family: Times;
  font-size: 20px;
  color: #e9e9e9;
  -webkit-text-stroke: 1px rgba(111, 104, 94, 0.39);
  text-stroke: 1px rgba(111, 104, 94, 0.39);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.dict-content {
  margin-left: 20px;
}

.dict-header strong {
  font-size: 1.2em;
}

.login-btn-container {
  text-align:center;
}