.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: black;
background-color: greenyellow;
border-color: #161f29;
}

pre {
color: black;
font-size: medium;
font-family: serif;
margin-top: 15px;
}

.btn.btn-success {
width: 100%;
}

dd {
}