body {
  padding-top: 70px;
}

#search-form {
  max-width: 400px;
}

#other-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.select2-input {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

#s2id_student_skill_names {
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 4px;
}

#other-section .select2-choices {
  height: 85px !important;
  border: 0px;
  border-radius: 4px;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(2%, #fff)) !important;
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 2%) !important;
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 2%) !important;
  background-image: linear-gradient(top, #eee 1%, #fff 2%) !important;
}

#student_interest {
  height: 86px;
}